<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wenxi.learn.blockmonitor">

    <!-- save the heap dumps, < API 19 still need permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- get IMEI -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application >
        <activity android:name=".ui.StackLogActivity" />
    </application>
</manifest>
